# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

out

# Package Files #
/backend/**/*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
*.iml

build
.gradle
.idea

**/.settings
**/.project
**/.classpath
**/bin


node_modules/
npm-debug.log*

frontend/coverage/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
