<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>ReactJS + Spring Data REST</title>
    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/react/react.min.js"></script>
    <script src="/webjars/react-dom/react-dom.min.js"></script>
    <script src="/webjars/babel-core/index.js"></script>
</head>
<body>

<div id="virkr"></div>

<script src="virkr.js"></script>

</body>
</html>