:root {
  --header-color: #4e22a5;
}

.top-margin {
  margin-top: 2%;
}

.virkr-header h1 {
  font-family: 'Lobster', cursive;
  color: var(--header-color);
  font-weight: bold;
  font-size: 72px;
  text-align: center;
}

.virkr-header a {
  color: var(--header-color);
  text-decoration: none;
}

.virkr-header a:hover {
  color: var(--header-color);
  text-decoration: none;
}

.virkr-header a:visited {
  color: var(--header-color);
  text-decoration: none;
}

.virkr-header p {
  color: var(--header-color);
  font-weight: bold;
  font-size: 12px;
  text-align: center;
}

.section-header a {
  text-decoration: none;
}

.section-header a:hover {
  text-decoration: none;
}

.section-header a:visited {
  text-decoration: none;
}

.soegeresultatcard {
  margin-bottom: 20px;
}

.ejercard {
  margin-bottom: 20px;
}

@media(max-width: 576px) {
  .soegeresultatcard .card-header {
    font-size: .75rem;
  }

  .virksomhedsdetaljer {
    font-size: .75rem;
  }

  .ejergrafcol {
    height: 300px;
  }
}

.section-header {
  background-color: azure;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  border: 1px solid lightgrey;
}

@media(min-width: 1000px) {
  .resizable-block {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .ejergrafcol {
    width: 100%;
    height: 800px;
    border: 1px;
  }
}

.regnskabscard {
  margin-bottom: 20px;
}

.regnskabscard > .card-header {
  background-color: #e0eeff;
}

.regnskabsgruppe .row:last-of-type .col-4:last-of-type {
  border-bottom: 1px solid lightgrey;
}



.map {
  alignment: right;
}

.btn {
  white-space: normal;
  word-wrap: break-word;
}

.btn-virksomhedsnavn {
  font-size: small;
}

.btn-cvrnummer {
  font-size: x-small;
}

.bottom-border {
  border-bottom: 1px solid #ccc;
}

.graf {
  text-align: center;
}

.virksomhed-spinner {
  text-align: center;
}

table tr td:last-child {
  text-align: right; }

.virksomhed {
  margin-top: 30px;
}

.justify-content-center {
  text-align: center;
}
