:root {
  --header-color: #4e22a5;
}

.top-margin {
  margin-top: 2%;
}

.virkr-header h1 {
  font-family: 'Lobster', cursive;
  color: var(--header-color);
  font-weight: bold;
  font-size: 72px;
  text-align: center;
}

.virkr-header a {
  color: var(--header-color);
  text-decoration: none;
}

.virkr-header a:hover {
  color: var(--header-color);
  text-decoration: none;
}

.virkr-header a:visited {
  color: var(--header-color);
  text-decoration: none;
}

.virkr-header p {
  color: var(--header-color);
  font-weight: bold;
  font-size: 12px;
  text-align: center;
}

.soegeresultatcard {
  margin-bottom: 20px;
}

@media(max-width: 576px) {
  .soegeresultatcard .card-header {
    font-size: .75rem;
  }
}

.regnskabscard {
  margin-bottom: 20px;
}

.regnskabscard > .card-header {
  background-color: #e0eeff;
}

.regnskabsgruppe .row:last-of-type .col:last-of-type {
  border-bottom: 1px solid lightgrey;
}

.virksomhedsdetaljer {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.map {
  alignment: right;
}

.btn {
  white-space: normal;
  word-wrap: break-word;
}

.btn-virksomhedsnavn {
  font-size: small;
}

.btn-cvrnummer {
  font-size: x-small;
}

.bottom-border {
  border-bottom: 1px solid #ccc;
}

.graf {
  text-align: center;
}

.virksomhed-spinner {
  text-align: center;
}

table tr td:last-child {
  text-align: right; }

.virksomhed {
  margin-top: 30px;
}
