:root {
  --header-color: #52767c;
  --lightblue: #CADADE;
  --orange: #F19D4B;
  --darkblue: #52767c;
}

.top-margin {
  margin-top: 2%;
}

.header-periode {
  font-size: 10px;
  font-weight: normal;
}

.virkr-header h1 {
  font-family: 'Lobster', cursive;
  color: var(--header-color);
  font-weight: bold;
  font-size: 72px;
  text-align: center;
}

.virkr-header-margin {
  margin-top: 8px
}

.red {
  color: var(--orange);
  font-size: 16px;
  transition: font-size .3s;
}

.red:hover {
  font-size: 20px;
  cursor: pointer;
}

.noegletal-table-header {
  font-weight: bold;
  font-size: 16px;
  text-align: left;
}

.virkr-header a {
  font-family: 'Lobster', cursive;
  font-weight: bold;
  font-size: 26px;
  color: var(--header-color);
  text-decoration: none;
}

.virkr-header a:hover {
  color: var(--header-color);
  text-decoration: none;
}

.virkr-header a:visited {
  color: var(--header-color);
  text-decoration: none;
}

.virkr-header p {
  color: var(--header-color);
  font-weight: bold;
  font-size: 12px;
  text-align: center;
}

.section-header a {
  text-decoration: none;
  color: var(--darkblue);
}

.section-header a:hover {
  text-decoration: none;
  color: var(--orange);
}

.section-header a:visited {
  text-decoration: none;
  color: var(--darkblue);
}

.header-details {
  font-size: 14px;
  font-weight: normal;
}

.soegeresultatcard {
  margin-bottom: 20px;
}

.noegletal-header {
  border-bottom: 1px solid lightgrey;
  margin-bottom: 50px;
}

.noegletal-vaerdi {
  text-align: right;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

.noegletal-label-bold {
  font-weight: bold;
}

.noegletal-tabel {
  font-size: 13px;
  border: 0px;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

.table tr td {
  border: 0;
  padding: 0.25rem;
}

.noegletal-color-negative {
  color: var(--orange);
}

.top-bar {
  position: sticky;
  top: 0;
  z-index:100;
}
/*
  I det følgende låner vi lidt ideer fra Material Design: Cards får en dropshadow for at indikere at man
  kan interagere med dem.

  På desktop (>=992px) sætter vi en dropshadow på ved hover
  På mobile (<992px) understøttes hover ikke, så der har alle cards dropshadow

  Når et kort vælges fjerner vi skyggen og forskyder kortet tilsvarende for at give en slags klik effekt
*/
.soegeresultatcard:active {
  box-shadow: none;
  position:relative;
  left: 8px;
  top: 8px;
}

@media(min-width: 992px) {
  .soegeresultatcard:hover {
    box-shadow: 8px 8px 3px lightgray;
    cursor: pointer;
  }

  .ejercard:hover {
     box-shadow: 8px 8px 3px lightgray;
     cursor: pointer;
   }

  .virksomhedcard:hover {
    box-shadow: 8px 8px 3px lightgray;
    cursor: pointer;
  }

  .noegletal-row:hover {
    cursor: pointer;
  }

}

@media (orientation:portrait) {
  .hide-on-portrait {
    display: none;
  }
}

@media(max-width: 991px) {
  .soegeresultatcard {
    margin-bottom: 20px;
    box-shadow: 8px 8px 3px lightgray;
  }
  .ejercard:hover {
    margin-bottom: 20px;
    box-shadow: 8px 8px 3px lightgray;
  }
  .virksomhedcard:hover {
    margin-bottom: 20px;
    box-shadow: 8px 8px 3px lightgray;
  }

  .noegletal-tabel {
    font-size: 12px;
    border: 0px;
  }
}

.ejercard {
  margin-bottom: 20px;
}

.virksomhedcard {
  margin-bottom: 20px;
}

@media(max-width: 576px) {
  .virksomhedsdetaljer {
    font-size: .75rem;
  }

  .ejergrafcol {
    height: 300px;
  }
}

.section-header {
  margin-top:5px;
  background-color: var(--lightblue);
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  border: 1px solid var(--lightblue);
}

@media(min-width: 1000px) {
  .resizable-block {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .ejergrafcol {
    width: 100%;
    height: 800px;
    border: 1px;
  }
}

.regnskabscard {
  margin-bottom: 20px;
}

.regnskabscard > .card-header {
  background-color: var(--lightblue);
}

.regnskabsgruppe .row:last-of-type .col-4:last-of-type {
  border-bottom: 1px solid lightgrey;
}



.map {
  alignment: right;
}

.btn {
  white-space: normal;
  word-wrap: break-word;
}

.btn-virksomhedsnavn {
  font-size: small;
}

.btn-cvrnummer {
  font-size: x-small;
}

.bottom-border {
  border-bottom: 1px solid #ccc;
}

.graf {
  text-align: center;
}

.virksomhed-spinner {
  text-align: center;
}

table tr td:last-child {
  text-align: right; }

.virksomhed {
  margin-top: 30px;
}

.justify-content-center {
  text-align: center;
}

.vheader {
  transition: all 1.5s;
}

.vheader-icon-circle {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background-color: var(--darkblue);
  transition: background-color .5s;
  position: relative;
}

.vheader-icon-circle-orange {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background-color:var(--orange);
  transition: background-color .5s;
  position: relative;
}

.vheader:hover {
  cursor: pointer;
}
.vheader:hover .row .col-1 .vheader-icon-circle {
  background-color: var(--orange);
}

.vheader:hover .row .col .row .vheader-label {
  color: var(--orange);
}

.vheader-icon {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.white {
  color: white;
}

.vheader-label {
  font-size: 20px;
  font-weight: bold;
  transition: all .5s;
  color: var(--darkblue);
}

.vheader-label-orange {
  font-size: 20px;
  font-weight: bold;
  transition: all .5s;
  color: var(--orange);
}

.vheader-desc {
  font-size: 14px;
}

.btn-link {
  color: var(--darkblue);
}

a {
  color: var(--darkblue);
}

orange {
  color: var(--orange);
}

.colors {
  lightblue: #CADADE;
  orange: #F19D4B;
  darkblue: #52767c;
}

.btn-primary {
  background-color: black;
  border-color: black;
}

.btn-primary:hover {
  background-color: var(--orange);
  border-color: var(--orange);
}

.resizable-block {
  width: 86%;
}

.o-fold {
  cursor: pointer;
  color: var(--orange);
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

@-webkit-keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

h4 {
  color: var(--darkblue);
}

.c {
  background-color: var(--darkblue);
  min-height: 100vh; /* min. height for modern browser */
  height:auto;
}

body {
  height: 100%;
}

.container {
  min-height: 100vh; /* min. height for modern browser */
  height:auto;
  background-color: white;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  z-index: 90;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 30% auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
  text-align: left;
}

.popup h2 {
  font-size: 22px;
  margin-top: 0;
  color: var(--darkblue);
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: var(--darkblue);
}

.popup .close:hover {
  color: var(--orange);
}

.clickable:hover {
  cursor: pointer;
}

.popup .content {
  max-height: 30%;
  overflow: auto;
}
